<% title "User Apd Supply Xref" %>

<p>
  <strong>User:</strong>
  <%= @user_apd_supply_xref.user_id %>
</p>
<p>
  <strong>Apd Supply:</strong>
  <%= @user_apd_supply_xref.apd_supply_id %>
</p>
<p>
  <strong>Line Max:</strong>
  <%= @user_apd_supply_xref.line_max %>
</p>
<p>
  <strong>Units Per Cycle:</strong>
  <%= @user_apd_supply_xref.units_per_cycle %>
</p>

<p>
  <%= link_to "Edit", edit_user_apd_supply_xref_path(@user_apd_supply_xref) %> |
  <%= link_to "Destroy", @user_apd_supply_xref, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_apd_supply_xrefs_path %>
</p>
