<div class="login_window2_1">

  <%- if !notice.nil? -%>
      <p class="notice"><%= notice %></p>
  <%- end -%>
  <%- if !alert.nil? -%>
      <p class="alert"><%= alert %></p>
  <%- end -%>

</div>

<div>
  <p class="clear2 color1 fontsize4 width28 login_input2" style="margin-right: 23px;">Email</p>

  <p class="clear2 color1 fontsize4 login_input2 width28">Password</p>
</div>
<div class="clear3"></div>

<div class="login_window2_2">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="login_input login_input2">
        <p class="p4">
          <%= f.email_field :email, :class => "login_input_box", :autocomplete => "off", :style => "border: none;" %>
        </p>
      </div>

      <div class="login_input login_input2">
        <p class="p4">
          <%= f.password_field :password, :class => "login_input_box", :autocomplete => "off", :style => "border: none;" %>
        </p>
      </div>

      <p class="left2"><%= f.submit "", :class => "login_submit" %></p>

  <% end %>

</div>

<div class="login_window2_3" style="clear: both;">
  <%= render :partial => "users/shared/links" %>
</div>

<p class="login_window2_4">To sign up please contact your clinic.</p>