<% title "Order Ancillary Supply Xrefs" %>

<table>
  <tr>
    <th>Order</th>
    <th>Ancillary Supply</th>
  </tr>
  <% for order_ancillary_supply_xref in @order_ancillary_supply_xrefs %>
    <tr>
      <td><%= order_ancillary_supply_xref.order_id %></td>
      <td><%= order_ancillary_supply_xref.ancillary_supply_id %></td>
      <td><%= link_to "Show", order_ancillary_supply_xref %></td>
      <td><%= link_to "Edit", edit_order_ancillary_supply_xref_path(order_ancillary_supply_xref) %></td>
      <td><%= link_to "Destroy", order_ancillary_supply_xref, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Order Ancillary Supply Xref", new_order_ancillary_supply_xref_path %></p>
