<% title "User Solution Xrefs" %>

<table>
  <tr>
    <th>User</th>
    <th>Solution</th>
    <th>Line Max</th>
  </tr>
  <% for user_solution_xref in @user_solution_xrefs %>
    <tr>
      <td><%= user_solution_xref.user_id %></td>
      <td><%= user_solution_xref.solution_id %></td>
      <td><%= user_solution_xref.line_max %></td>
      <td><%= link_to "Show", user_solution_xref %></td>
      <td><%= link_to "Edit", edit_user_solution_xref_path(user_solution_xref) %></td>
      <td><%= link_to "Destroy", user_solution_xref, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User Solution Xref", new_user_solution_xref_path %></p>
