<% content_for :javascript do %>
    <%= render 'users/header_includes' %>
<% end %>



<% title "Edit User" %>
<h2 class="center">Edit Patient Profile</h2>

<%= form_for @user do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <% @edit_status = "on" %>
    <%= render :partial => 'users/form', :locals => {:f => f} %>

    <div>
      <div class="left2 button_blue_specific">
        <%= f.submit "Update", :class => "button_blue" %>
      </div>
      <div class="left2 margin_left4">
        <%= button("Cancel", users_path, "button_grey") %>
      </div>
    </div>
<% end %>