<div class="prepend-1 top4 fontsize14">

  <h2>Change Password</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
      <%= devise_error_messages_psw! %>

      <p><%= f.label "Type new password" %></p>

      <p><%= f.password_field :password, :class => "field0 field2" %></p>

      <p><%= f.label "Re-type new password" %></p>

      <p><%= f.password_field :password_confirmation, :class => "field0 field2" %></p>

      <p><%#= f.label "Type current password" %> <i>(we need your current password to confirm your changes)</i></p>

      <p><%#= f.password_field :current_password, :class => "field0 field2" %></p>

      <br/>

      <p><%= f.submit "Update", :class => "button_blue" %></p>
  <% end %>

  <br/>
  <%= link_to "Back", new_order_path %>
</div>