<% content_for :javascript do %>
    <%= render 'users/header_includes' %>
<% end %>

<h2 class="center">Create Patient</h2>

<% if admin_signed_in? %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <% @edit_status = "off" %>
        <%= render :partial => 'users/form', :locals => {:f => f} %>

        <div>
          <div class="left2 button_blue_specific">
            <%= f.submit "Create Patient", :class => "button_grey button_width6" %>
          </div>
          <div class="left2 margin_left4">
            <%= button("Cancel", users_path, "button_grey") %>
          </div>
        </div>
    <% end %>

<% else %>

    <%= render 'shared/admin_redirect' %>

<% end %>