<% content_for :javascript do %>
    <%= render 'users/header_includes' %>
<% end %>

<h2 class="center">Create Patient</h2>

<% if admin_signed_in? %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <% @edit_status = "off" %>
        <%= render :partial => 'users/form', :locals => {:f => f} %>

        <p>
          <%= f.submit "Create Patient" %>
          &nbsp;&nbsp;&nbsp;
          <%= button("Cancel", users_path) %>
        </p>
    <% end %>

<% else %>

    <%= render 'shared/admin_redirect' %>

<% end %>