<br/><br/>
<h2 class="center">Order Summary</h2>

<%= form_for @order, :url => "/orders/confirmed/"+@order.id.to_s do |f| %>
       <%= render 'shared/error_messages', :object => f.object %>

<br/>
<div id="progress_bar">
  <div class="progress_bar_cell">
    <p>Step 1 - Order</p>
  </div>
  <div class="progress_bar_cell active">
    <p>Step 2 - Order Summary</p>
  </div>
  <div class="progress_bar_cell">
    <p>Step 3 - Order Confirmation</p>
  </div>
</div>

<div id="content" class="left2 top5">
  <p style="font-size: 1.2em">Your order information is summarized below for your final review. If the information is
    accurate you may submit your order using the “Submit Order” button below.
    <br/><br/>
    Note that the Estimated Order Quantities shown are for information purposes only during this pilot website program
    and that your HomeCare Service Representative will review your information and send you an order confirmation with
    actual order quantities within 1 business day.
  </p>
  <br/> <br/>

  <hr/>
  <br/>

  <p>
    <strong>Date supplies were counted at: &nbsp;</strong>
    <%= format_date(@order.supplies_counted_at) %>
  </p>
  <br/>

  <%= render :partial => 'order_summary' %>

  <div class="clear">
    <br/><br/>


        <p>
          <%= f.hidden_field :submitted_flag, :value => 'f' %>
          <%= f.check_box :opt_in %>
          To allow us to get your feedback on this online ordering program as well as future service offering programs.
        </p>

        <p>
          <div class="left2"><%= f.check_box :baxter_terms %> </div>

          <div class="left2">&nbsp;Click here to accept <a href="/Privacy-Policy-terms-shipping-agreement.htm" target="_blank"> Baxter Privacy Policy and Delivery
            Terms & Conditions</a></div>
        </p>

        <br/><br/>

        <div>
          <div class="left2">
            <%= button("Change Order", edit_order_path(@order), "button_green button_width6") %>
            <%#= button("Submit Order", "/orders/confirmed/"+@order.id.to_s) %>
          </div>
          <div class="left2 button_blue_specific">
            <%= f.submit "Submit Order", :class => "button_blue button_width6 margin_left4" %>

          </div>
        </div>

    <% end %>
  </div>
</div>