<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <style type="text/css">
      body {
          background: #ffffff;
          font-family: helvetica, verdana, arial, Helvetica;
          font-size: 14px;
          color: #666666;
          font-weight: bold;

      }

      p, h3 {
          font-family: helvetica, verdana, arial, Helvetica;
      }

      .h3_style {
          color: #184ea6;
          font-family: arial;
          font-size: 18pt;
          font-weight: bold;
          margin-bottom: 10px;
      }

      h2 {
          color: #184ea6;
          font-family: arial;
          font-size: 18pt;
          font-weight: bold;
      }

          /* Order summary  */

      .order_summary {
          width: 100%;
          padding: 7px;
      }

      .order_summary1 {
          width: 20px;
      }

      .order_summary2 {
          width: 250px;
      }

      .order_summary3 {
          width: 50px;
      }

      .order_summary4 {
          width: 150px;
      }

      .order_summary5 {
          width: 100%;
          padding: 0px 7px 0px 0px;
      }

      .order_summary5 p.alert {
          font-weight: bold;
          color: red;
      }

      .alert {
          color: red;
      }

          /* miscellaneous */
      .color1 {
          color: white;
      }

      .color2 {
          color: #999999;
      }

      .color3 {
          color: #184ea6;
      }

      .clear2 {
          margin: 0;
          padding: 0;
      }

      .fontsize0 {
          font-size: larger;
      }

      .fontsize00 {
          font-size: smaller;
      }

      .font0 {
          font-weight: normal;
      }

      .top0 {
          margin-top: 4px;
      }

      .top1 {
          margin-top: 7px;
      }

      .top2 {
          margin-top: 12px;
      }

      .top4 {
          margin-top: 35px;
      }

      .top5 {
          margin-top: 40px;
      }

      .center {
          text-align: center;
      }

      .clear {
          width: 100%;
          clear: both;
      }

      .clear3 {
          width: 100%;
          clear: both;
          margin: 0;
          padding: 0;
          height: 0px;
          display: inline;
      }

      .margin_left4 {
          margin-left: 20px;
      }


  </style>
</head>
<body>

<div class="order_summary">
  <h2> New order</h2>

  <p>
    <span class="color3"><%= @user.first_name %> <%= @user.last_name %></span> just submitted the order.
  </p>


  <br/><br/>

  <p>
    <strong>Account Number:</strong>
    <span class="color3"><%= @user.account_no %></span>
  </p>

  <p>
    <strong>Date Home Patient Product Inventory Counted:</strong>
    <span class="color3"><%= (@order.supplies_counted_at).strftime('%Y-%m-%d') %></span>
  </p>

  <p>
    <strong>User opted in for follow up:</strong>
    <span class="color3"><%= (@order.opt_in==true ? "Yes" : "No") %></span>
  </p>

  <br/>
  <br/>

  <h3>Order Summary</h3>

  <% if @order.order_solution_xrefs.count > 0 %>
      <h3 class="h3_style">Dialysis Solutions</h3>

      <div class="margin_left4">
        <% for solution in Solution.find(:all, :order => 'seq_no ASC') %>
            <% if @user.solutions.include?(solution) %>
                <% if @order.solutions.include?(solution) %>
                    <p><strong class="fontsize0"><%= solution.name %> - <%= solution.size %> L</strong></p>
                    <table border=0 cellpadding=5>
                      <tbody>
                      <tr>
                        <td class="order_summary1">&nbsp;</td>
                        <td class="order_summary2 color2"><p>On Hand (Boxes)</p></td>
                        <td class="order_summary3 color2">
                          <p>: <%= @order.order_solution_xrefs.find_by_solution_id(solution.id).on_hand %></p></td>
                      </tr>
                      <tr>
                        <td class="order_summary1">&nbsp;</td>
                        <td class="order_summary2 color2"><p>Usage per Week (Boxes)</p></td>
                        <td class="order_summary3 color2">
                          <p>: <%= @order.order_solution_xrefs.find_by_solution_id(solution.id).usage_per_week %></p>
                        </td>
                      </tr>

                      <% on_hand_at_delivery = @order.calculate_solutions(solution.id)["on_hand_at_delivery"] %>
                      <% projected_order_quantity = @order.calculate_solutions(solution.id)["projected_order_quantity"] %>
                      <tr>
                        <td class="order_summary1">&nbsp;</td>
                        <td class="order_summary2 color2"><p>Estimated Order Quantity (Boxes)</p></td>
                        <td class="order_summary3 color2"><p>: <strong><%= projected_order_quantity %></strong></p></td>
                        <td class="order_summary4 color2"><p>(Line Max
                          - <%= @user.user_solution_xrefs.find_by_solution_id(solution.id).line_max %>)</p>
                        </td>
                      </tr>
                      <% if on_hand_at_delivery <= 0 %>
                          <tr>
                            <td colspan="4">
                              <div class="order_summary5">
                                <p class="alert">
                                  <%= $OUT_OF_SUPPLIES_ALERT %>
                                </p>
                              </div>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <% end %>
            <% end %>
        <% end %>
      </div>
  <% end %>

  <% if @order.order_apd_supply_xrefs.count > 0 or @order.order_capd_supply_xrefs.count > 0 %>
      <h3 class="h3_style">PD Supplies</h3>

      <div class="margin_left4">
        <% for apd_supply in ApdSupply.find(:all, :order => 'id ASC') %>
            <% if @user.apd_supplies.include?(apd_supply) %>
                <% if @order.apd_supplies.include?(apd_supply) %>
                    <p><strong class="fontsize0"><%= apd_supply.name %></strong></p>
                    <table border=0 cellpadding=5>
                      <tbody>
                      <tr>
                        <td class="order_summary1">&nbsp;</td>
                        <td class="order_summary2 color2"><p>On Hand (Pieces)</p></td>
                        <td class="order_summary3 color2">
                          <p>: <%= @order.order_apd_supply_xrefs.find_by_apd_supply_id(apd_supply.id).on_hand %></p>
                        </td>
                      </tr>
                      <% on_hand_at_delivery = @order.order_quantity_for_apd_supplies(apd_supply.id)["on_hand_at_delivery"] %>
                      <% projected_order_quantity = @order.order_quantity_for_apd_supplies(apd_supply.id)["projected_order_quantity"] %>
                      <tr>
                        <td class="order_summary1">&nbsp;</td>
                        <td class="order_summary2 color2"><p>Estimated Order Quantity (Pieces)</p></td>
                        <td class="order_summary3 color2"><p>: <strong><%= projected_order_quantity %></strong></p></td>
                        <td class="order_summary4 color2"><p>(Line Max
                          - <%= @user.user_apd_supply_xrefs.find_by_apd_supply_id(apd_supply.id).line_max %>)</p>
                        </td>
                      </tr>
                      <% if on_hand_at_delivery <= 0 %>
                          <tr>
                            <td colspan="4">
                              <div class="order_summary5">
                                <p class="alert">
                                  <%= $OUT_OF_SUPPLIES_ALERT %>
                                </p>
                              </div>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <% end %>
            <% end %>
        <% end %>

        <% for capd_supply in CapdSupply.find(:all, :order => 'id ASC') %>
            <% if @user.capd_supplies.include?(capd_supply) %>
                <% if @order.capd_supplies.include?(capd_supply) %>
                    <p><strong class="fontsize0"><%= capd_supply.name %></strong></p>
                    <table border=0 cellpadding=5>
                      <tbody>
                      <tr>
                        <td class="order_summary1">&nbsp;</td>
                        <td class="order_summary2 color2"><p>On Hand (Pieces)</p></td>
                        <td class="order_summary3 color2">
                          <p>: <%= @order.order_capd_supply_xrefs.find_by_capd_supply_id(capd_supply.id).on_hand %></p>
                        </td>
                      </tr>
                      <% on_hand_at_delivery = @order.order_quantity_for_capd_supplies(capd_supply.id)["on_hand_at_delivery"] %>
                      <% projected_order_quantity = @order.order_quantity_for_capd_supplies(capd_supply.id)["projected_order_quantity"] %>
                      <tr>
                        <td class="order_summary1">&nbsp;</td>
                        <td class="order_summary2 color2"><p>Estimated Order Quantity (Pieces)</p></td>
                        <td class="order_summary3 color2"><p>: <strong><%= projected_order_quantity %></strong></p></td>
                        <td class="order_summary4 color2"><p>(Line Max
                          - <%= @user.user_capd_supply_xrefs.find_by_capd_supply_id(capd_supply.id).line_max %>)</p>
                        </td>
                      </tr>
                      <% if on_hand_at_delivery <= 0 %>
                          <tr>
                            <td colspan="4">
                              <div class="order_summary5">
                                <p class="alert">
                                  <%= $OUT_OF_SUPPLIES_ALERT %>
                                </p>
                              </div>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <% end %>
            <% end %>
        <% end %>
      </div>
  <% end %>


  <% if @order.order_ancillary_supply_xrefs.count > 0 %>
      <h3 class="h3_style">Ancillary Supplies</h3>

      <div class="margin_left4">
        <% for ancillary_supply in AncillarySupply.find(:all, :order => 'id ASC') %>
            <% if @user.ancillary_supplies.include?(ancillary_supply) %>
                <% if @order.ancillary_supplies.include?(ancillary_supply) %>
                    <p><strong class="fontsize0"><%= ancillary_supply.name %></strong></p>
                <% end %>
            <% end %>
        <% end %>
      </div>
  <% end %>

</div>

</body>
</html>