<div id="content">

  <div id="sign_in_right" style="width: 80%">
    <div class="padding_2">
      <h2 style="font-size: 18pt">Administrator Sign in</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <p><%= f.label :email %><br/>
            <%= f.email_field :email, :class => "login_input_box", :autocomplete => "off" %>
               </p>
          <p><%= f.label :password %><br/>
            <%= f.password_field :password, :class => "login_input_box", :autocomplete => "off" %>
            </p>

          <p><%= f.submit "", :class => "button_sign_in top1" %></p>
      <% end %>

      <%= render :partial => "admins/shared/links" %>
    </div>
  </div>
</div>