<h3 class="color1">Change your password</h3>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <br/>
    <div class="clear2 color1 fontsize4"><p><%= f.label :password %></p></div>
    <div class="login_input">
      <p class="p4">
        <%= f.password_field :password, :class => "login_input_box", :style => "border:none;" %>
      </p>
    </div>

    <div class="clear2 color1 fontsize4"><p><%= f.label :password_confirmation %></p></div>
    <div class="login_input">
      <p class="p4">
        <%= f.password_field :password_confirmation, :class => "login_input_box", :style => "border:none;" %>
      </p>
    </div>

    <br/>
    <p><%= f.submit "Change my password", :class => "login_submit2" %></p>
<% end %>

<%#= render :partial => "devise/shared/links" %>
<%- if controller_name != 'sessions' %>
    <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>