<div class="content padding_1">
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
      <%= devise_error_messages_psw! %>
      <%= f.hidden_field :reset_password_token %>

      <p><%= f.label :password, "Type new password", :class => "label2" %></p>
      <p><%= f.password_field :password, :class => "login_input_box" %></p>

      <p><%= f.label :password_confirmation, "Re-type new password", :class => "label2" %></p>
      <p><%= f.password_field :password_confirmation, :class => "login_input_box" %></p>

      <p><%= f.submit "Change my password", :class => "button_sign_in2 top1" %></p>
  <% end %>

  <%- if controller_name != 'sessions' %>
      <p class="top1"><%= link_to "Sign in", new_session_path(resource_name), :class => "link2" %></p>
  <% end -%>
</div>