<% title "Order Apd Supply Xref" %>

<p>
  <strong>Order:</strong>
  <%= @order_apd_supply_xref.order_id %>
</p>
<p>
  <strong>Apd Supply:</strong>
  <%= @order_apd_supply_xref.apd_supply_id %>
</p>
<p>
  <strong>On Hand:</strong>
  <%= @order_apd_supply_xref.on_hand %>
</p>

<p>
  <%= link_to "Edit", edit_order_apd_supply_xref_path(@order_apd_supply_xref) %> |
  <%= link_to "Destroy", @order_apd_supply_xref, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", order_apd_supply_xrefs_path %>
</p>
