<% title "Order Capd Supply Xrefs" %>

<table>
  <tr>
    <th>Order</th>
    <th>Capd Supply</th>
    <th>On Hand</th>
  </tr>
  <% for order_capd_supply_xref in @order_capd_supply_xrefs %>
    <tr>
      <td><%= order_capd_supply_xref.order_id %></td>
      <td><%= order_capd_supply_xref.capd_supply_id %></td>
      <td><%= order_capd_supply_xref.on_hand %></td>
      <td><%= link_to "Show", order_capd_supply_xref %></td>
      <td><%= link_to "Edit", edit_order_capd_supply_xref_path(order_capd_supply_xref) %></td>
      <td><%= link_to "Destroy", order_capd_supply_xref, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Order Capd Supply Xref", new_order_capd_supply_xref_path %></p>
