<%= form_for @user_capd_supply_xref do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :capd_supply_id %><br />
    <%= f.text_field :capd_supply_id %>
  </p>
  <p>
    <%= f.label :line_max %><br />
    <%= f.text_field :line_max %>
  </p>
  <p>
    <%= f.label :units_per_cycle %><br />
    <%= f.text_field :units_per_cycle %>
  </p>
  <p><%= f.submit %></p>
<% end %>
