<%# @title = 'Account Activation' %>
<div class="content padding_1">

  <%= form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f| %>
      <%= devise_error_messages! %>
      <h2>Account Activation
        <% if resource.email %> for <%= resource.email %>
        <% end %></h2>

      <% if @requires_password %>
          <p><%= f.label :password, 'Choose a Password:' %>
            <br/>
            <%= f.password_field :password, :class => "login_input_box" %></p>

          <p><%= f.label :password_confirmation, 'Password Confirmation:' %>
            <br/>
            <%= f.password_field :password_confirmation, :class => "login_input_box" %></p>
      <% end %>
      <%= hidden_field_tag :confirmation_token, @confirmation_token %>
      <p><%= f.submit "Activate", :class => "button_sign_in2 top1" %></p>
  <% end %>

  <%= javascript_tag('Form.focusFirstElement("activation-form");') %>

</div>