<!DOCTYPE html>
<html>
<head>
  <title>Supply Chain Pilot</title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascript' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container">

  <% if admin_signed_in? or user_signed_in? -%>

      <div id="header">
        <%= render 'layouts/top_header' %>
      </div>

  <% else -%>

      <div id="header2">
        <%= render 'layouts/top_header2' %>

        <div class="banner" style="height: 328px;">
          <img src="/images/banner.jpg" width="1003" height="327" border="0">
        </div>
        <div class="banner">
          <div class="banner_cell">
            <img src="/images/banner_solutions.png" width="249" height="70" border="0">
          </div>
          <div class="banner_cell">
            <img src="/images/banner_cycler_supplies.png" width="249" height="70" border="0">
          </div>
          <div class="banner_cell">
            <img src="/images/banner_ancillary_supplies.png" width="249" height="70" border="0">
          </div>
          <div class="banner_cell banner_cell_right">
            <img src="/images/banner_capd_supplies.png" width="250" height="70" border="0">
          </div>
        </div>
      </div>

  <% end -%>


  <% if admin_signed_in? or user_signed_in? -%>
      <div id="main_panel">
        <%- if !notice.nil? -%>
            <p class="notice"><%= notice %></p>
        <%- end -%>
        <%- if !alert.nil? -%>
            <p class="alert"><%= alert %></p>
        <%- end -%>

        <%= yield %>
      </div>
  <% else %>
      <div id="main_panel" class="font_landing height_landing" style="min-height: 230px">
        <%- if !notice.nil? -%>
            <p class="notice"><%= notice %></p>
        <%- end -%>
        <%- if !alert.nil? -%>
            <p class="alert"><%= alert %></p>
        <%- end -%>

        <%= yield %>
      </div>
  <% end %>

  <% if admin_signed_in? or user_signed_in? -%>
      <%= render 'layouts/footer' %>
  <% else %>
      <%= render 'layouts/footer2' %>
  <% end %>
</div>
</body>
</html>